*~
.*~
*.swp
camera-ready *
camera-ready.*
sh.exe.stackdump
*.out
*.toc
*.snm
*.nav
*.bcf
*.run.xml
*.csv
*.bbl
*.dvi
*.synctex.gz
*.blg
*.aux
*.swn
*.swo
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.log
*.stackdump
